<%= tag.div \
  data: { controller: 'message-renderer scroll-to-self',
          "message-renderer-owner-value": "#{message.user.id}",
          "message-renderer-target": "floatDirection" },
  class: "flex items-end mb-4 chat__box__text-box" do %>

  <div data-message-renderer-target="colorIdentifier" class="px-3 py-1 text-white rounded-l-md rounded-t-md">
    <span class="text-sm"><%= message.message_body %></span>
    <%= time_tag message.created_at, class: 'mt-px' do %>
      <small class="text-xs text-gray-300"><%= time_ago_in_words message.created_at %></span>
    <% end %>
  </div>

  <div class="relative flex-none hidden mx-3 sm:block">
    <%= render 'shared/user_avatar', name: message.user.name %>
  </div>
<% end %>

<div class="clear-both"></div>
