<span class="flex space-x-2">
  <%= link_to "Pings", private_conversations_path, class: "block px-2 py-1 text-sm text-blue-700 hover:underline" %>
  <%= link_to "Groups", group_conversations_path, class: "block pl-2 pr-4 py-1 text-sm text-blue-700 hover:underline" %>
</span>

<div class="flex items-center justify-center space-x-5">
  <div>
    <%= render App::DropdownComponent.new(details_id: 'my_notifications') do |c| %>
      <%= c.summary do %>
        <%= turbo_stream_from "notifications.#{current_user.id}" %>
        <span class="sr-only">View notifications</span>
        <span class="relative block p-1.5">
          <span class="text-base tracking-tighter text-orange-600">
            <%= render_inline_svg 'icons/bell', class: 'h-6 w-6 rounded-full fill-gray-500 align-text-top origin-top' %>
            <%= tag.div class: 'absolute z-10 text-base font-semibold -top-1 -right-3' do %>
              <!-- TODO: Not efficient -->
              <span id="notifications-count">
                <%= Notification.new_for_user(current_user.id).count if (current_user &&  Notification.new_for_user(current_user.id).count > 0) %>
              </span>
            <% end %>
          </span>
        </span>
        <%= link_to "notification", notifications_path, class: 'tracking-tighter font-semibold text-blue-700 hover:underline', data: { turbo_frame: 'my_notification', popup_menu_target: 'link' } %>
      <% end %>

      <%= c.body do %>
        <div class="text-sm divide-y-2">
          <div class="flex items-center justify-between px-4 py-2 space-x-8">
            <div class="font-semibold text-center text-gray-500">Unread notifications</div>
            <span>
              <%= link_to "mark all as read", '#', class: "tracking-tighter font-semibold text-blue-700 hover:underline" %>
            </span>
          </div>

          <%= turbo_frame_tag 'my_notification', class: 'flex w-full justify-center text-center px-4 py-2 text-gray-500 space-y-2' do %>
            <svg class="w-6 h-6 text-teal-600 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          <% end %>

          <div class="py-2 text-center">
            <%= link_to "view all", notifications_path, class: "px-2 py-1 tracking-tighter font-semibold text-blue-700 hover:underline" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= render App::DropdownComponent.new(details_id: 'me_menu') do |c| %>
      <%= c.summary do %>
        <span class="sr-only">Open user menu</span>
        <%= render 'shared/user_avatar', name: current_user.name %>
      <% end %>

      <%= c.body do %>
        <span class="block px-4 py-2 -mt-1 font-bold text-center text-white bg-gray-400 border-b-2"><%= current_user.name %></span>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"  %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"  %>
      <% end %>
    <% end %>
  </div>
</div>
