<div class="p-8 bg-white border-2 rounded-lg shadow-xl col-span-full md:col-span-10 md:col-start-2 space-y-8">
  <div class="flex flex-col space-y-4">
    <h2 class="text-2xl font-semibold text-center text-gray-800">
      <%= page_title %>
    </h2>

    <%= render 'posts/branch/create_new_post', branch: branch %>
  </div>

  <div>
    <%= render 'posts/branch/search_form',
      branch: branch,
      search_placeholder: search_placeholder %>
  </div>

  <div class="">
    <div class="text-lg text-gray-800 font-sm">
      <%= render 'posts/branch/categories', branch: branch %>
    </div>
  </div>

  <div class="overflow-hidden border-2 rounded-md">
    <div class="overflow-x-auto text-lg text-gray-800 divide-y-2 divide-gray-200">
      <%= render partial: 'posts/branch_page_post', collection: @posts, as: :post, cached: true %>

      <%= render no_posts_partial_path(@posts) %>
    </div>
  </div>

  <div class="flex items-center justify-center">
    <div class="text-lg font-medium text-gray-800">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
