<!DOCTYPE html>
<html>
  <head>
    <title>Magz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col bg-gray-100 text-gray-900">
    <header class="z-30 flex-shrink-0">
      <%= render "layouts/navigation" %>
    </header>

    <div class="px-8 pt-6 pb-5 bg-gray-100">
      <%= yield %>
    <div>
  </body>
</html>
