<!DOCTYPE html>
<html lang="en" class="bg-gradient-to-br from-gray-700 via-green-800 to-cyan-900">
  <head>
    <title>Magz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :current_person %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex px-4 py-8 text-gray-900 bg-gradient-to-br from-gray-700 via-green-800 to-cyan-900">
    <div class="flex flex-col flex-1 min-w-0 min-h-screen px-2 pt-4 pb-10 mx-auto overflow-hidden overflow-x-auto bg-gray-200 border-2 max-w-screen-lg md:px-4 space-y-5 rounded-3xl">
      <div id="top-nav" class="relative z-40 flex items-center justify-between flex-shrink-0 pb-3 border-b border-gray-400">
        <div class="flex items-center justify-between w-full">
          <%= render "layouts/navigation" %>
        </div>
      </div>

      <% if flash.any? %>
        <% flash.each do |message_type, message| %>
          <div class="flash" data-controller="element-removal" data-element-removal-target="flash">
            <span class="<%= message_type %> flex items-center justify-between px-4 py-2 font-medium text-center text-white col-span-full rounded-2xl">
              <p class="flex-1"><%= message %></p>

              <button class="flex-shrink-0 ml-2 btn-focusable sm:ml-0" data-action="click->element-removal#remove">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </span>
          </div>
        <% end %>
      <% end %>

      <div class="flex-1 grid grid-cols-12 space-y-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
