<!DOCTYPE html>
<html lang="en" class="bg-blue-800">
  <head>
    <title>Magz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex px-4 pt-6 text-gray-900 bg-blue-800">
    <nav class="z-30 w-1/6 overflow-x-hidden"
      <%= render "layouts/navigation" %>
    </nav>

    <div class="flex-1 min-w-0 min-h-screen px-4 pt-4 pb-10 bg-gray-200 border-2 space-y-5 rounded-3xl">
      <div class="relative flex items-center justify-between border-b border-gray-400">
        <div>
          top bar
        </div>

        <% if flash.any? %>
          <% flash.each do |message_type, message| %>
            <div class="absolute inline-block inset-y-8 flash">
              <p class="<%= message_type %> px-4 py-2 font-medium text-center text-white col-span-full rounded-2xl"><%= message %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="h-full pb-10 grid grid-cols-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
