<!DOCTYPE html>
<html lang="en" class="bg-blue-800">
  <head>
    <title>Magz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex px-4 text-gray-900 bg-blue-800">
    <nav class="z-30 w-1/6 overflow-x-hidden"
      <%= render "layouts/navigation" %>
    </nav>

    <div class="flex-1 min-w-0 min-h-screen px-4 pb-10 bg-gray-100 border-2 space-y-5 rounded-3xl">
      <div class="border-b border-gray-400">
        top bar
      </div>

      <div class="h-full grid grid-cols-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
